PAPRNAV_APP_NAME=paprnav
PAPRNAV_APP_VERSION=0.1.0
PAPRNAV_ENV=local
DATABASE_URL=postgresql+psycopg://paprnav_user:paprnav_password@localhost:5432/paprnav_db
PAPRNAV_CORS_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
PAPRNAV_LOCAL_STORAGE_PATH=.data
PAPRNAV_MAX_UPLOAD_SIZE_BYTES=104857600
